<div class="bg-dark-2 flex flex-col items-center py-6 w-[20.5rem] ">

  <span class="font-medium text-base">Wind status</span>

  <div class="my-2">
    <span class="font-bold text-[4rem]">7</span>
    <span class="font-medium text-4xl">mph</span>
  </div>

  <div class="flex items-center gap-2">
    <span class="material-icons text-gray-4">explore</span>
    <span class="font-medium text-sm">WSW</span>
  </div>

  <div class="w-8/12 text-xs text-gray-2 font-bold">
    <div class="flex justify-between">
      <span>0</span>
      <span>50</span>
      <span>100</span>
    </div>
    <progress max="100" value="70" class="w-full"></progress>
    <span class="flex justify-end">%</span>
  </div>

</div>
