<h3 class="mb-3 text-2xl font-bold p-5">Today's Hightlights</h3>

<div class="grid-card p-5">
  <app-hightlights-card
    cardTitle="Wind status"
    [value]="weather.wind_speed"
    unity="mph"
    [gps]="true"
    [wind]="weather.wind_direction_compass"
  ></app-hightlights-card>

  <app-hightlights-card
    cardTitle="Humidity"
    [value]="weather.humidity"
    unity="%"
    [progress]="true"
  ></app-hightlights-card>

  <app-hightlights-card
    cardTitle="Visibility"
    [value]="weather.visibility"
    unity="miles"
  ></app-hightlights-card>

  <app-hightlights-card
    cardTitle="Air pressure"
    [value]="weather.air_pressure"
    unity="mb"
  ></app-hightlights-card>
</div>
