<div 
  *ngIf="!loader; else animationLoader" 
  class="grid grid-areas-slim lg:grid-areas-wide lg:grid-cols-content">

  <div class="grid-in-header">
    <app-weather-today
      [todayWeather]="weather.consolidated_weather[0]"
      [city]="weather.title"
    ></app-weather-today>
  </div>

  <div class="grid-in-content p-12">
    <app-weather-forecast
      [weathers]="weather.consolidated_weather"
    ></app-weather-forecast>
  
    <app-weather-hightlights
      [weather]="weather.consolidated_weather[0]"
    ></app-weather-hightlights>
  </div>

  <div class="grid-in-footer">
    <app-footer></app-footer>
  </div>
</div>

<ng-template #animationLoader>
  <div class="flex justify-center items-center h-screen">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
</ng-template>
