<div class="bg-dark-2 bg-cloud-bg bg-no-repeat bg-[center_top_4rem]">

  <div class="flex justify-between px-3 py-4">
    <button class="bg-gray-1 px-5 py-2.5">Search for places</button>
    <button class="material-icons bg-gray-1 rounded-full w-10 h-10">gps_fixed</button>
  </div>

  <div class="flex flex-col items-center">
    <img
      src="./assets/img/Shower.png"
      alt="weather-icon"
      class="max-h-[10.875rem] my-[3.75rem]"
    >
    <div>
      <span class="text-[9rem] font-medium">15</span>
      <span class="text-5xl font-light text-gray-2">°C</span>
    </div>
    <span class="text-4xl font-semibold text-gray-2 mb-12">Shower</span>
    <div class="flex justify-between w-40 mb-[2.125rem] text-lg font-medium text-gray-3">
      <span>Today</span>
      <span>•</span>
      <span>Fri, 5 Jun</span>
    </div>
    <div class="flex items-center text-lg font-semibold text-gray-3 mb-[6.625rem]">
      <span class="material-icons">place</span>
      <span>Helsinki</span>
    </div>
  </div>

</div>
